/**
"The electric current has no memory, is governed only by the present, and is thus in great measure authorized to unleash improbable phenomena"
(The Time of Roland Kayn's Cybernetic Music)
*/
body {
  max-width: 768px;
  margin: 0 auto;
}
p {
	text-align:center;
}
a {
  color:#56ad09;
}
img {
	max-width: 100%;
	height: auto;
}
